/*hello mr whalen thank u for the pretzel :D */


html,body, *{
    box-sizing: border-box;
    background-color: rgb(182, 189, 252);
    font-family: century-gothic, sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 3rem;
    background-color: white;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    width: 70rem;
}

img {
    width: 20rem;
    height: 20rem;
    margin: 30px 10px;
    box-shadow: 9px 9px white;
    border-radius: 10px;
}


img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
} 